/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  color: black;
  box-shadow: 7px 7px 10px;
}

.leftcolumn {
  float: center;
  width: 75%;
}

.img-studio {
  width: 100%;
  color: rgb(22, 22, 109);
  box-shadow: 15px 15px 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card p:first-of-type {
  margin: 25px;
  font-size: x-large;
}

.card p:first-of-type {
  margin: 25px;
  font-size: x-large;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.footer a {
  font-size: xxx-large;
}

@media screen and (max-width: 1500px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.coolbutton2 {
  background-color: rgb(116, 116, 122);
  color: white;
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 35px;
  text-align: center;

  border: solid 3px rgb(116, 116, 122);
  border-radius: 2px;
  padding: 7px 21px;

  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition-duration: 200ms;
}

.coolbutton2:hover {
  color: rgb(34, 126, 212);
  background: rgb(43, 44, 56);
  box-shadow: 0 0 10px rgb(116, 116, 122), 0 0 40px rgb(116, 116, 122),
    0 0 80px rgb(116, 116, 122);
}

.linktop {
  display: inline-block;
}
